
#box {
    margin: auto;
    width: 1000px;
    height: 650px;
    background: wheat;
}
a {
    text-decoration: none;
}
a:link {
    color: darkgoldenrod;
}
a:visited {
    color:orangered;
}
a:hover {
    color:blue;
    font-size: 20px;
}
a:active {
    color: darkred;
}
#head {
    width: 1000px;
    height: 80px;
}
#head h1 {
    color: darkred;
    text-align: center;
}
#center {
    width: 1000px;
    height: 500px;
}
#center h3{
    color: brown;
}
#footer {
    width: 1000px;
    height: 70px;
    text-align: right;
}
